# Initial Data Exploration: Barro-Lee Dataset

This notebook explores the Barro-Lee dataset on educational attainment for the population aged 25â€“64. The goal is to understand the structure, identify usable metrics, and prepare it for analysis.

## Step 1: Import Libraries & Load Data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("../data/BL_v3_MF2564.csv")

## Step 2: Initial Inspection & Clean-Up

### Shape & Columns

In [23]:
print("---Shape:\n", df.shape)
print("---Columns:\n", df.columns)

---Shape:
 (2044, 20)
---Columns:
 Index(['BLcode', 'country', 'year', 'sex', 'agefrom', 'ageto', 'lu', 'lp',
       'lpc', 'ls', 'lsc', 'lh', 'lhc', 'yr_sch', 'yr_sch_pri', 'yr_sch_sec',
       'yr_sch_ter', 'WBcode', 'region_code', 'pop'],
      dtype='object')

In [49]:
# Do the column names need changing/cleaning?

### Preview Data

In [36]:
print("---Head:\n", df.head())
print("---Tail:\n", df.tail())

---Head:
    BLcode  country  year sex  agefrom  ageto     lu     lp   lpc    ls   lsc  \
0       1  Algeria  1950  MF       25     64  79.68  18.33  3.50  1.63  0.54
1       1  Algeria  1955  MF       25     64  80.31  17.57  3.70  1.71  0.50
2       1  Algeria  1960  MF       25     64  84.61  13.38  2.91  1.68  0.65
3       1  Algeria  1965  MF       25     64  87.12  10.53  2.59  1.93  0.87
4       1  Algeria  1970  MF       25     64  83.25  13.82  3.63  2.47  1.36

     lh   lhc  yr_sch  yr_sch_pri  yr_sch_sec  yr_sch_ter WBcode  \
0  0.35  0.23   0.892       0.774       0.106       0.012    DZA
1  0.37  0.24   0.883       0.762       0.109       0.012    DZA
2  0.34  0.22   0.731       0.610       0.110       0.011    DZA
3  0.44  0.28   0.683       0.535       0.134       0.014    DZA
4  0.36  0.22   0.869       0.693       0.165       0.012    DZA

                    region_code     pop
0  Middle East and North Africa  3226.0
1  Middle East and North Africa  3485.0
2  Middle East and North Africa  3682.0
3  Middle East and North Africa  3823.0
4  Middle East and North Africa  4115.0
---Tail:
       BLcode  country  year sex  agefrom  ageto    lu    lp   lpc     ls  \
2039     358  Ukraine  1995  MF       25     64  1.25  7.25  6.00  59.26
2040     358  Ukraine  2000  MF       25     64  0.56  2.91  2.53  53.89
2041     358  Ukraine  2005  MF       25     64  0.35  1.83  1.59  55.46
2042     358  Ukraine  2010  MF       25     64  0.27  1.93  1.74  54.44
2043     358  Ukraine  2015  MF       25     64  0.24  4.37  4.07  50.67

        lsc     lh    lhc  yr_sch  yr_sch_pri  yr_sch_sec  yr_sch_ter WBcode  \
2039  44.47  32.24  21.75  10.862       5.001       4.781       1.080    UKR
2040  42.03  42.39  28.88  11.823       5.530       4.868       1.425    UKR
2041  45.15  42.37  28.82  11.928       5.691       4.813       1.424    UKR
2042  45.48  43.36  29.39  11.927       5.759       4.714       1.455    UKR
2043  42.24  44.71  29.69  11.857       5.678       4.691       1.488    UKR

                  region_code      pop
2039  Europe and Central Asia  26684.0
2040  Europe and Central Asia  26174.0
2041  Europe and Central Asia  24739.0
2042  Europe and Central Asia  24631.0
2043  Europe and Central Asia  26122.0

In [48]:
# Are names clean?

# Are years in columns or rows?

# Are tertiary columns named well?

# Are NaNs present?

### Data Types & Missing Data

In [37]:
print("---Info:\n", df.info())
print("---Describe:\n", df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2044 entries, 0 to 2043
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BLcode       2044 non-null   int64
 1   country      2044 non-null   object
 2   year         2044 non-null   int64
 3   sex          2044 non-null   object
 4   agefrom      2044 non-null   int64
 5   ageto        2044 non-null   int64
 6   lu           2044 non-null   float64
 7   lp           2044 non-null   float64
 8   lpc          2044 non-null   float64
 9   ls           2044 non-null   float64
 10  lsc          2044 non-null   float64
 11  lh           2044 non-null   float64
 12  lhc          2044 non-null   float64
 13  yr_sch       2044 non-null   float64
 14  yr_sch_pri   2044 non-null   float64
 15  yr_sch_sec   2044 non-null   float64
 16  yr_sch_ter   2044 non-null   float64
 17  WBcode       2044 non-null   object
 18  region_code  2044 non-null   object
 19  pop          2044 non-null   float64
dtypes: float64(12), int64(4), object(4)
memory usage: 319.5+ KB
---Info:
 None
---Describe:
             BLcode         year  agefrom   ageto           lu           lp  \
count  2044.000000  2044.000000   2044.0  2044.0  2044.000000  2044.000000
mean    112.212329  1982.500000     25.0    64.0    32.548615    33.005837
std      91.009409    20.160577      0.0     0.0    30.807762    21.088341
min       1.000000  1950.000000     25.0    64.0     0.000000     0.000000
25%      50.000000  1965.000000     25.0    64.0     3.847500    15.190000
50%      91.500000  1982.500000     25.0    64.0    22.180000    31.615000
75%     131.000000  2000.000000     25.0    64.0    56.770000    47.917500
max     358.000000  2015.000000     25.0    64.0   100.000000    91.260000

               lpc           ls          lsc           lh          lhc  \
count  2044.000000  2044.000000  2044.000000  2044.000000  2044.000000
mean     17.227314    26.278762    15.167363     8.164217     5.224114
std      14.221987    21.533082    15.666791    10.186963     6.527106
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       5.957500     7.627500     3.025000     1.257500     0.750000
50%      13.700000    20.995000     9.440000     4.130000     2.665000
75%      24.695000    41.695000    22.895000    11.520000     7.300000
max      80.240000    94.820000    76.710000    67.850000    46.890000

            yr_sch   yr_sch_pri   yr_sch_sec   yr_sch_ter            pop
count  2044.000000  2044.000000  2044.000000  2044.000000    2044.000000
mean      5.590739     3.560471     1.762519     0.267765   13594.000000
std       3.546074     2.018806     1.595665     0.330990   53067.057449
min       0.000000     0.000000     0.000000     0.000000      10.000000
25%       2.559750     1.887000     0.465000     0.042000     888.250000
50%       5.135000     3.568000     1.258000     0.135000    2598.000000
75%       8.343500     5.208000     2.734250     0.380000    7712.500000
max      13.638000     8.993000     8.289000     1.958000  835303.000000

In [50]:
# Are there missing values?

# Are there columns with the wrong types?

# Are there placeholder names for certain types (e.g.: NaNs)?

### Unique Values & Duplicates

In [51]:
# TODO make this prettier like above ones

print(df["country"].nunique())
# etc
df.duplicated().sum()

146

np.int64(0)

In [52]:
# Are there the correct number of unique values?

# Are there any duplicates?

## Step 3: Reformat & Clean Up